<h1>Can't find the category youre looking for?</h1><br>
<h1>MAKE IT!</h1>
<form action="/create_category" method="POST">
<div>
    <label for="category_title">Category Title</label>
    <input type="text" name="category_title"/>
</div>
<div>
    <label for="category_description">Category Title</label>
    <input type="text" name="category_title"/>
</div>
<div>
    <butotn type="submit">Create!</butotn>
</div>
</form>