<h1>Can't find the category youre looking for?</h1><br>
<h1>MAKE IT!</h1>
<form action="/createCategory" method="POST">
<div>
    <label for="title">Category Title</label>
    <input type="text" name="title"/>
</div>
<div>
    <label for="description">Category Description</label>
    <input type="text" name="description"/>
</div>
<div>
    <butotn type="submit">Create!</butotn>
</div>
</form>